# Houston Weather Analysis Project

Hello, my name is Alexis Flores and this is my analysis on Houston weather data in 2011 and 2021. I will be using python pandas to conduct this analysis to find key points between these two datasets. What intregued me to do this project was that I have lived in Houston my whole life and have helped my father in mowing lawns since I was young and want to see if there has been a difference in weather. Could it be global warming? or not.

***

## Data

I retrieved the data from kaggle where I found dataset about the weather in Houston over the span of 10 years. I choose 2011 and 2021 so that I can get that difference between a decade and see that change

You can get view where I got the data [here](https://www.kaggle.com/datasets/alejandrochapa/houston-weather-data?select=htx_2006_weather.csv)

Now We need to load the two datasets into python and we did that by doing the following below:

In [169]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# import datasets
htx2011 = pd.read_csv('data\htx_2011_weather.csv')
htx2021 = pd.read_csv('data\htx_2021_weather.csv')

In [170]:
# Preview of 2011 Houston weather data
htx2011.head()

,date,min_temp,max_temp,rainfall,wind_speed9am,wind_speed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,rain_today,rain_tomorrow
0,2011-01-01,49.0,66.0,0.0,20.0,16.0,20.0,22.0,30.03,30.06,Mostly Cloudy,Fair,57.0,65.0,No,No
1,2011-01-02,41.0,58.0,0.0,12.0,9.0,37.0,24.0,30.35,30.25,Partly Cloudy,Partly Cloudy,45.0,58.0,No,No
2,2011-01-03,41.0,61.0,0.0,7.0,10.0,68.0,57.0,30.22,30.11,Mostly Cloudy,Mostly Cloudy,48.0,60.0,No,Yes
3,2011-01-04,52.0,67.0,0.8,8.0,7.0,90.0,73.0,30.08,29.99,Cloudy,Mostly Cloudy,59.0,67.0,Yes,No
4,2011-01-05,58.0,73.0,0.0,6.0,14.0,84.0,33.0,29.95,29.88,Mostly Cloudy,Mostly Cloudy,66.0,73.0,No,No

In [171]:
htx2021.head()

,date,min_temp,max_temp,rainfall,wind_speed9am,wind_speed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,rain_today,rain_tomorrow
0,2021-01-01,41.0,55.0,0.0,10.0,8.0,65.0,51.0,29.98,29.95,Fair,Mostly Cloudy,44.0,55.0,No,No
1,2021-01-02,41.0,59.0,0.0,12.0,7.0,68.0,42.0,30.18,30.09,Partly Cloudy,Fair,45.0,58.0,No,No
2,2021-01-03,43.0,68.0,0.0,9.0,13.0,66.0,37.0,30.13,30.01,Partly Cloudy,Fair,54.0,68.0,No,No
3,2021-01-04,49.0,75.0,0.0,0.0,3.0,93.0,43.0,30.06,29.99,Fair,Fair,57.0,75.0,No,No
4,2021-01-05,51.0,69.0,0.0,10.0,13.0,55.0,38.0,30.14,30.04,Fair,Fair,59.0,69.0,No,Yes

***

## Data Cleaning

The first things I wanted to do to the dataset was to delete any columns that are not usefull to the analysis then, after I want to then clean the dataset by seeing if there is any duplicates or if some column names need to be changed.

These are some of the steps I want to do in order to clean the data:
1. How many enteries are there in it?
2. Are there any duplicates?
3. See the dataset info?
4. Are there any null values?

In [172]:
# Number of Rows and Columns from each dataset
htx2021.shape, htx2011.shape

((365, 16), (365, 16))

In [173]:
htx2011.duplicated().sum(), htx2021.duplicated().sum()

(np.int64(0), np.int64(0))

In [174]:
# information on 2021 Houston weather data
htx2011.info(), htx2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           365 non-null    object
 1   min_temp       365 non-null    float64
 2   max_temp       365 non-null    float64
 3   rainfall       365 non-null    float64
 4   wind_speed9am  365 non-null    object
 5   wind_speed3pm  365 non-null    object
 6   humidity9am    365 non-null    object
 7   humidity3pm    365 non-null    object
 8   pressure9am    365 non-null    object
 9   pressure3pm    365 non-null    object
 10  cloud9am       365 non-null    object
 11  cloud3pm       365 non-null    object
 12  temp9am        365 non-null    object
 13  temp3pm        365 non-null    object
 14  rain_today     365 non-null    object
 15  rain_tomorrow  365 non-null    object
dtypes: float64(3), object(13)
memory usage: 45.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           365 non-null    object
 1   min_temp       365 non-null    float64
 2   max_temp       365 non-null    float64
 3   rainfall       365 non-null    float64
 4   wind_speed9am  365 non-null    object
 5   wind_speed3pm  365 non-null    object
 6   humidity9am    365 non-null    object
 7   humidity3pm    365 non-null    object
 8   pressure9am    365 non-null    object
 9   pressure3pm    365 non-null    object
 10  cloud9am       365 non-null    object
 11  cloud3pm       365 non-null    object
 12  temp9am        365 non-null    object
 13  temp3pm        365 non-null    object
 14  rain_today     365 non-null    object
 15  rain_tomorrow  365 non-null    object
dtypes: float64(3), object(13)
memory usage: 45.8+ KB

(None, None)

In [175]:
htx2011.isnull().sum(), htx2021.isnull().sum()

(date             0
 min_temp         0
 max_temp         0
 rainfall         0
 wind_speed9am    0
 wind_speed3pm    0
 humidity9am      0
 humidity3pm      0
 pressure9am      0
 pressure3pm      0
 cloud9am         0
 cloud3pm         0
 temp9am          0
 temp3pm          0
 rain_today       0
 rain_tomorrow    0
 dtype: int64,
 date             0
 min_temp         0
 max_temp         0
 rainfall         0
 wind_speed9am    0
 wind_speed3pm    0
 humidity9am      0
 humidity3pm      0
 pressure9am      0
 pressure3pm      0
 cloud9am         0
 cloud3pm         0
 temp9am          0
 temp3pm          0
 rain_today       0
 rain_tomorrow    0
 dtype: int64)

After evaluating both datasets I determined to delete the following columns from both datasets
- pressure9am
- pressure3pm
- rain_tomorrow
- wind_speed9am
- wind_speed3pm
- cloud9am
- cloud3pm

In [ ]:
# Dropping Columns that wont be used from both datasets
htx2011.drop(['pressure9am', 'pressure3pm', 'rain_tomorrow', 'wind_speed9am', 'wind_speed3pm', 'cloud9am', 'cloud3pm'], axis=1, inplace=True),
htx2021.drop(['pressure9am', 'pressure3pm', 'rain_tomorrow', 'wind_speed9am', 'wind_speed3pm', 'cloud9am', 'cloud3pm'], axis=1, inplace=True)

In [ ]:
# 2011 Weather dataset now
htx2011.head()

,date,min_temp,max_temp,rainfall,humidity9am,humidity3pm,temp9am,temp3pm,rain_today
0,2011-01-01,49.0,66.0,0.0,20.0,22.0,57.0,65.0,No
1,2011-01-02,41.0,58.0,0.0,37.0,24.0,45.0,58.0,No
2,2011-01-03,41.0,61.0,0.0,68.0,57.0,48.0,60.0,No
3,2011-01-04,52.0,67.0,0.8,90.0,73.0,59.0,67.0,Yes
4,2011-01-05,58.0,73.0,0.0,84.0,33.0,66.0,73.0,No

In [ ]:
# 2021 Weather dataset now
htx2021.head()

,date,min_temp,max_temp,rainfall,humidity9am,humidity3pm,temp9am,temp3pm,rain_today
0,2021-01-01,41.0,55.0,0.0,65.0,51.0,44.0,55.0,No
1,2021-01-02,41.0,59.0,0.0,68.0,42.0,45.0,58.0,No
2,2021-01-03,43.0,68.0,0.0,66.0,37.0,54.0,68.0,No
3,2021-01-04,49.0,75.0,0.0,93.0,43.0,57.0,75.0,No
4,2021-01-05,51.0,69.0,0.0,55.0,38.0,59.0,69.0,No

***

## Analysis

1.